<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>

  <button mat-raised-button (click)="handleLogout()">Logout</button>
  <button mat-button disabled="" style="color: white; margin-left: 1rem">
    {{ user.username }}
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with avatar"
  >
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>
